:root {
  --primary-dark: #3e3e3eff;
  --primary-mid: #f7fafcff;
  --primary-light: #ffffffff;
  --brand-dark: #14213dff;
  --brand-light: #f7fafcff;
  --brand-accent: #e3b449ff;
  --text-error: #e63946ff;
  --separator: rgba(0, 0, 0, 0.25);
  --separator-light: rgba(0, 0, 0, 0.1);
  --aside-width: 100%;
  --header-height: 5rem;

  /*
  --primary-light: #2e2e2eff;
  --primary-mid: #373a3cff;
  --primary-dark: #ffffffff;
  --brand-light: #14213dff;
  --brand-dark: #f7fafcff;
  --brand-accent: #e3b449ff;
  --text-error: #e63946ff;
  --separator: rgba(255, 255, 255, 0.25);
  --separator-light: rgba(255, 255, 155, 0.1);
  */
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  background-color: var(--primary-mid);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

input:focus {
  outline: 0.25rem var(--brand-accent) solid;
}
